<!DOCTYPE html>

<html>
    <head>
        <style>
            body {
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://pbs.twimg.com/media/E9O5Q0JWQAQOZ4a.jpg:large");
                background-size:cover;
                background-repeat: repeat-y;
            }
            h1 {
                font-family: Arial; font-weight: 900;
            }
        </style>
        <title><a href="/course_finder">UCL Lecture Crashers</a></title>
    </head>
    <body text align="center">
        <h1 text align="left"><a href="/course_finder"> UCL Lecture Crashers</a></h1>
        <br>
        <br>
        <br>
        <br>
        <h2>Are you sure you want to join {{module}} by {{professor}}</h2><br>
        <a href="/send-email"><button id="yes" type="submit">Yes</button></a>
        <a href="/modules">Take me back</a> 
        
        
    </body>
</html>