<!DOCTYPE html>

<html>
    <head>
        <style>
            body {
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://pbs.twimg.com/media/E9O5Q0JWQAQOZ4a.jpg:large");
                background-size:cover;
                background-repeat: repeat-y;
            }
            h2 {
                font-family: Arial; font-weight: 900;
                color: aliceblue;
            }
        </style>

        <title>UCL Lecture Crashers</title>
</head>
    <body text align="center">
        <h1 text align="left"><a href="/course_finder"> UCL Lecture Crashers</a></h1>
        <br>
        <br>
        <br>
        <br>
        <h2>Selection confirmed. Automatic email generated.
        <a href="mailto:{{email}}?subject=Request%20to%20Audit%20{{course_name}}&body=Dear%20{{Lecturer}}%2C%0D%0A%0D%0AI%20am%20{{full_name}}%20and%20my%20student%20number%20is%20{{student_number}}.%20I%20am%20interested%20in%20auditing%20the%20course%20{{course_id}}%3A%20{{course_name}}.%20I%20would%20appreciate%20it%20if%20you%20could%20reply%20stating%20whether%20this%20would%20be%20possible.%20%0D%0A%0D%0AKind%20regards%2C%0D%0A{{given_name}}">Send Email</a>  
        <br>
        The professor will respond to your request shortly!
        </h2><br>
        <a href="/course_finder"><button id="">Back to search</button></a> 
    </body>
</html>



